<!--
    the function provide associates the string "home"
to the label ":title"
    the function is called by Rails through "<% %>"
-->
<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>
        This is the home page for the 
        <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!-- because of the image_tag helper, Rails will
search the respective photo in the app/assets/images/ directory

alt attribute is used to replace the image for the devices that don't load it-->
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                        "https://rubyonrails.org/" %>